:root {
    --background-color: white;
    --text-color: black;
    --hand-color: #333;
    --button-color: #333;
    --button-background-color: #fff;
    --hour-marker-color: #ccc;
    --horloge-background-color: white;
    --horloge-border-color: #333;
    --hand-color-hour: #333;
    --hand-color-minute: #666;
    --hand-color-second: #999;
    --number-color: black;
    --horloge-border-radius: 50%;
    --horloge-background: white;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);

    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;

}
body.light-mode {
    background: linear-gradient(to right, #f4f4f4, #99f2c8);
    color: #333;
}

body.dark-mode {
    background: linear-gradient(to right, #1f4037, #0c0c0c);
    color: #fff;
}

button {
    
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--button-color);
    background-color: var(--button-background-color);

}

button:hover {
    background-color: #555;
}

button:active {
    transform: scale(0.98);
}


.horloge-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    font-size: 1.2em;
    background: inherit;
    color: inherit;
}

.horloge {
    
    position: relative;
    width: 200px;
    height: 200px;
    border: 16px solid #333;
    border-radius: var(--horloge-border-radius);
    padding: 20px;
    margin: 50px auto;
    background: var(--horloge-background);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

.horloge::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    background: #333;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.horloge h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: center bottom;
    transition: transform 0.3s ease-in-out;
    border-radius: 4px;
}

.hour-marker {
    position: absolute;
    width: 1px;
    height: 50%;
    background: var(--hour-marker-color);
    top: 0;
    left: 50%;
    transform-origin: center bottom;
    opacity: 0.6;
}

.hour-marker span {
    bottom: -20px;
    color: var(--number-color);
    transform: translateX(-50%) rotate(-30deg);
    font-size: 16px;
    font-weight: bold;
}

.minute-marker {
    position: absolute;
    width: 2px; 
    height: 50%;
    background: #A52A2A; 
    top: 0;
    left: 50%;
    transform-origin: center bottom;
    opacity: 0.2;
}

.hour-hand {
    width: 4px;
    height: 30%;
    background: var(--hand-color-hour);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.minute-hand {
    width: 3px;
    height: 40%;
    background: var(--hand-color-minute);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.second-hand {
    width: 2px;
    height: 45%;
    background: var(--hand-color-second);
    transition: transform 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
}

.date-container {
    text-align: center;
    margin: 30px 0; 
    font-size: 1.5em; 
    color: var(--text-color); 
    background-color: var(--background-color); 
    border-radius: 10px; 
    padding: 10px; 
}

.alarm-times{
    color: var(--text-color);
}

@keyframes alarm {
    0% { background-color: var(--background-color); }
    50% { background-color: red; }
    100% { background-color: var(--background-color); }
  }
  
  body.alarm {
    animation: alarm 1s ease-in-out;
  }

  p {
    color: var(--p-text-color);
  }

  h1 {
    color: var(--h1-text-color);
  }

  .theme-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.alarm-form {
    position: absolute;
    top: 20px;
    left: 20px;
}
.alarm-form input, .alarm-form button {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.alarm-form button {
    background-color: #4CAF50; 
    color: white; 
    cursor: pointer;
}

.alarm-form button:hover {
    background-color: #45a049; 
}

.alarm-form button:active {
    transform: scale(0.98);
}